img {
    max-width: 100%;
    height: auto;
    margin: -10px 0;
}

article > h3 {
    font-size: 18px;
    margin-bottom: 9px;
}

.tag-verde {
  color: #409543;           /* verde classico */
  font-style: italic;       /* corsivo */
  font-weight: 500;         /* leggermente evidenziato */
  background-color: rgba(76, 175, 80, 0.1);  /* sfondo verde chiarissimo */
  padding: 2px 6px;         /* piccolo padding */
  border-radius: 6px;       /* bordi arrotondati */
  font-size: 0.95em;        /* leggermente più piccolo */
}






