img {
    max-width: 100%;
    height: auto;
    margin: -10px 0;
}

article > h3 {
    font-size: 14px;
    margin-bottom: 9px;
}

.tag-verde {
  color: #409543;           
  font-style: italic;      
  font-weight: 500;         
  background-color: rgba(76, 175, 80, 0.1);
  padding: 1px 1px;         
  border-radius: 6px;       
  font-size: 0.95em;        
}

article ol,
article ul {
  font-family: 'Oxygen Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;           
  letter-spacing: 0.3px;
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 2em;           
}

article ol li,
article ul li {
  margin-bottom: 4px;          
  font-weight: 400;            
}

article ol li::marker,
article ul li::marker {
  color: inherit;               
  font-weight: 300;            
  font-size: 0.95em;           
}

article ol li img,
article ul li img {
  vertical-align: middle;
  margin-left: 4px;
}







