html > body {
    background-color: #F5F5DC;
}

article {
    width: 70%;
    height: auto;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.36px;
}