@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

main {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.audio-section {
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 50;
}

.audio-container {
    height: 40%;
    width: 100%;
    position: relative;
    z-index: 50;
}

.plant-image {
    width: 200px;
    height: auto;
    z-index: 50;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    margin-top: 10px;
}

#waveform {
    height: 80%;
    width: 100%;
    border: solid green 4px;
    background-color: #F5F5DC;
}

.audio-controls, .sound-management {
    font-family: 'Press Start 2P', cursive;
}

.audio-controls {
    margin-top: 10px;

}

.audio-controls button, .sound-management button, .sound-management a{
    background-color: #F5F5DC;
    color: black;
    border: solid black;
    padding: 10px;
    margin: 5px 20px 0px 0px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.audio-container .volume-btn {
  width: 24px;
  cursor: pointer;
  display: inline-block;
}

.audio-container .fa-volume-mute {
  display: none;
}

/* Stile personalizzato per lo slider */
#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 12px;
    background: #F5F5DC;
    border: 3px solid black;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

/* Thumb QUADRATO per Chrome/Safari */
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4A90E2;
    border: 3px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#volumeSlider::-webkit-slider-thumb:hover {
    background: #5BA3F5;
}

.sound-management {
    position: relative;
    width: 500px;
    height: 166px;
    /*margin-left: 100px;*/
    z-index: 10;
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.sound-management img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
}

.loopRecButton{
    flex: 1;
    height: 100%;
    width: 40%;
}

.loopRecButton > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e95d8c;
}

.sound-management > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#loopCLButton, #ambienceCLButton{
    flex: 1;
    margin-top: 0;
}

#ambienceCLButton {
    background-color: #83dae0;
}

#loopCLButton {
    background-color:  #FFD54F;
}


.genre-selector {
    position: relative;
    width: 270px;
    height: 270px;
    /*margin-left: 100px;*/
    z-index: 10;
}

.knob {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.knob-outer {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #EC407A;
    border: solid #AD1457 4px;
    transition: transform 0.3s ease;
}

.knob-center {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #F48FB1;
    border: 3px solid #F06292;
}

.knob-indicator {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 14px;
    background-color: #FFEB3B;
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.8);
    z-index: 10;
}

.genre-label {
    position: absolute;
    color: white;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.genre-label:nth-child(1) { 
    top: 50%; 
    left: 52%; 
    transform: translate(-50%, calc(-55px - 100%)); /* 60px dal bordo + altezza etichetta */
}

.genre-label:nth-child(2) { 
    top: 52%; 
    left: 50%; 
    transform: translate(65px, -50%); /* 60px dal bordo del knob */
}

.genre-label:nth-child(3) { 
    top: 50%; 
    left: 51%; 
    transform: translate(-50%, 65px); /* 60px dal bordo del knob */
}

.genre-label:nth-child(4) { 
    top: 52%; 
    left: 50%; 
    transform: translate(calc(-55px - 100%), -50%); /* 60px + larghezza dell'etichetta */
}

.genre-label.active {
    color: #FFEB3B /*#AD1457*/;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
    font-size: 12px; /* Opzionale: ingrandisce leggermente */
}