@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.audio-container {
    width: 70%;
    position: relative;
    z-index: 50;
}

#waveform {
    margin-top: 0px;
    height: 200px;
    width: 100%;
    border: solid green;
    background-color: #F5F5DC;
}

.audio-controls {
    font-family: 'Press Start 2P', cursive;
    margin-top: 10px;
}

.audio-controls button {
    background-color: #F5F5DC;
    color: black;
    border: solid black;
    padding: 10px;
    margin: 5px 20px 0px 0px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.audio-container .volume-btn {
  width: 24px;
  cursor: pointer;
  display: inline-block;
}

.audio-container .fa-volume-mute {
  display: none;
}

/* Stile personalizzato per lo slider */
#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 12px;
    background: #F5F5DC;
    border: 3px solid black;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

/* Thumb QUADRATO per Chrome/Safari */
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #4A90E2;
    border: 3px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

#volumeSlider::-webkit-slider-thumb:hover {
    background: #5BA3F5;
}

.genre-selector {
    position: absolute;
    width: 270px;
    height: 270px;
    margin-left: 100px;
}

.knob {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.knob-outer {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #EC407A;
    border: solid #AD1457 4px;
    transition: transform 0.3s ease;
}

.knob-center {
    height: 50%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #F48FB1;
    border: 3px solid #F06292;
}

.knob-indicator {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 14px;
    background: #FFEB3B;
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.8);
    z-index: 10;
}

.genre-label {
    position: absolute;
    color: white;
    font-size: 10px;
}

.genre-label:nth-child(1) { 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, calc(-70px - 100%)); /* 60px dal bordo + altezza etichetta */
}

.genre-label:nth-child(2) { 
    top: 50%; 
    left: 50%; 
    transform: translate(70px, -50%); /* 60px dal bordo del knob */
}

.genre-label:nth-child(3) { 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 70px); /* 60px dal bordo del knob */
}

.genre-label:nth-child(4) { 
    top: 50%; 
    left: 50%; 
    transform: translate(calc(-70px - 100%), -50%); /* 60px + larghezza dell'etichetta */
}