@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body > header {
    position: relative;
    text-align: left;
    margin: 50px 0px;
}

body > header > h1 {
    position: relative;
    color: black;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    z-index: 100;
}

body {
    background-color: #8BC34A;
    font-family: 'Press Start 2P', cursive;
}

.grass{
    z-index: 1;
}

.grass_dark{
    opacity: 0.6;
    background: #689F38;
}

.grass_light{
    opacity: 0.4;
    background: #AED581;
}

.bg-flower {
    width: 30px;
    height: 30px;
    position: relative;
    margin-bottom: 8px;
    z-index: 2;
}

.petal {
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: white;
}

.bg-flower > .petal-top, .petal-front-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bg-flower > .petal-right, .petal-front-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bg-flower > .petal-bottom, .petal-front-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bg-flower > .petal-left, .petal-front-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.flower-center {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD700;
    z-index: 1;
}
.nav-element{
    height: 100px;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.menu-flower {
    position: relative;
    display: flex;
    width: 56px;
    height: 56px;
}

.menu-flower > .petal {
    position: absolute;
    background-color: #FD86AE;
}

.menu-flower > .petal-left, .menu-flower > .petal-right {
    position: absolute;
    background-color: #FD86AE;
    width: 12px;
    height: 16px;
}

.menu-flower > .petal-top, .menu-flower > .petal-bottom {
    position: absolute;
    background-color: #FD86AE;
    width: 16px;
    height: 12px;
}

.menu-flower > .flower-center {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FFEB3B;
    z-index: 10;
}

.menu-flower > [class^="petal-front"] {
    position: absolute;
    background-color: #FD86AE;
}

.petal-front-right, .petal-front-left {
    width: 4px;
    height: 12px;
}

.menu-flower > .petal-right {
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-flower > .petal-left {
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
}


.petal-front-top, .petal-front-bottom {
    width: 12px;
    height: 4px;
}

.menu-flower > .petal-top {
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-flower > .petal-bottom {
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    height: 16px;
    width: 100%;
    color: white;
    padding: 7px 0;
    margin-top: 8px;
    text-align: center;
}

#home-button {
    background-color: #FD86AE;
}

