@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body > header {
    text-align: left;
    margin: 50px 0px;
    z-index: 100;
}

body > header > h1 {
    color: black;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    background-color: #8BC34A;
    font-family: 'Press Start 2P', cursive;
}

.grass_dark{
    opacity: 0.6;
    background: #689F38;
}

.grass_light{
    opacity: 0.4;
    background: #AED581;
}

.flower {
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 8px;
}

.petal {
    width: 18px;
    height: 18px;
    position: absolute;
    border: 2px solid black;
}

.petal-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.petal-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.petal-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.petal-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.flower-center {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD700;
    border: 2px solid black;
    z-index: 1;
}
