@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body > header {
    text-align: left;
    margin: 50px 0px;
}

body > header > h1 {
    color: black;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    background-color: #8BC34A;
}